.product{
    overflow: hidden;
    border-radius: 7rem;
    background: #fef7e2;
    margin: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.honey-img{
    flex-basis: 60%;
    
}
.honey-img img{
    width: 100%;
}
.container-text-product{
    display: flex;
    justify-content: space-evenly;
}
.column-text{
    display: flex;
    flex-direction: column;
}
.title{

}
.column-text p{

}
.button-product{

}