.hidden {
  visibility: hidden;
}

.container-general {
  padding: 10px 17px;
  font-family: 'Roboto', sans-serif;
}
#header {
  background-color: #fef7e2;
  border-radius: 5rem;
  margin-bottom: 2rem;
}

.container-logo {
  display: flex;
  background-color: #ffdf7f;
  align-items: center;
  padding: 29px 75px;
  font-size: 2rem;
  border-radius: 50px;
  margin: 20px;
  column-gap: 20px;
  order: 5;
}

.logo {
  width: 3rem;
}
.container-logo p {
  font-size: 1.5rem;
  color: #721f03;
  font-weight: bold;
}
#nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 20px;
  column-gap: 10px;
    row-gap: 15px;
}

.element-nav {
  background-color: #ffdf7f;
  border-radius: 6rem;
  color: #701e03;
  align-items: center;
  text-decoration: none;

  font-size: 1.4rem;
}
.el4 {
  order: 4;
  padding: 10px 35px;

}
.el3 {
  order: 3;
  padding: 10px 30px;
}
.el2 {
  order: 2;
  padding: 10px 40px;
}
.el1 {
  order: 1;
  padding: 10px 42px;
}

/* card product */
#best-selling-products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 35px;
  margin-bottom: 3rem;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: #fef7e2;
  overflow: hidden;
  border-radius: 4rem;
}
.container-text-product {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
  color: #66282c;
}
.column-text {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.title {
  font-weight: bold;
  font-size: 24px;
}
.paragraf {
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.container-button-product {
  display: flex;
  justify-content: center;
  padding: 14px;
  color: #662f20;
}
.button-product {
  background: #ffdf7f;
  padding: 11px 65px;
  border-radius: 20px;
  text-decoration: none;
  color: #7a2400;
  font-weight: bold;
}
.price {
  font-size: 22px;
}
/* aside */
#aside h3{
    text-align: center;
    color: #721f02;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}
.container-article{
    background: #fef7e2;
    padding: 20px;
    border-radius: 2rem;
}
#aside h4{
    font-weight: bold;
    font-size: 21px;
    color: #731f00;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.didascalia{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
}
.honey-aside{
    width: 100%;
}
