/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$primo: #f9b552b3;

input.ng-dirty.ng-invalid{
  border: 1px solid red;
}

.pointer{
  cursor: pointer;
}
.logo{
  width: 50px;
}

a{
  color: #f9b552b3;

}
