/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


input.ng-dirty.ng-invalid{
  border: 1px solid red;
}

.pointer{
  cursor: pointer;
}
.logo{
  width: 50px;
}

a{
  color: #f9b552b3;

}

.sfondo {
  min-height: 100vh;
  height: 100%;
  background: url('./assets/mockup/background\ home.jpg') center center fixed no-repeat;
  background-size: cover;
  background: url('./assets/mockup/background\ home.jpg') center center fixed no-repeat;
  background-size: cover;
}
