body{
    background-color: #d8e285e0;
    text-align: center;
    font-size: 1rem
}
h2{
    font-size: 4.6rem;
    background-color: #d4c608;
    color: white;
    width: 55%;
    margin: 4rem auto;
    box-shadow: 1px 1px 2px black;
    border-radius: 1rem;
    text-shadow: 1px 1px 2px black;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
.li-decoration{
    list-style-type: decimal;
    font-size: 2.2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
   border: 0;
   text-align:left ;

}
#input{
    font-size: 2rem;
    border: 1px solid white;
    background-color: #d4c60847;
    color: white;
    text-shadow: 1px 1px 2px black;
}
#lista{
    width: 35rem;
    margin: 0 auto ;
}
#button{
    font-size: 1.6rem;
    color: white;
    background-color: #d4c608;
    border: 1px solid white;
    margin-left: 1rem;
    border-radius: 1rem;
    padding: 0.6rem;
}
.click-li{
    text-decoration: line-through #d4c608;
    cursor: pointer;
}
.button-li{
    font-size: 1rem;
    color: white;
    background-color: #d4c608;
    border: 1px solid white;
    margin: 1rem 1rem 1.5rem 1rem;
    border-radius: 2rem;
    padding: 0.6rem;
}