.container-todo:hover {
  cursor: pointer;
}

.input {
  border: 1px solid #b66286;
  background: #f8c56e;
  border-radius: 20px;
  padding: 10px;
}

.btn {
  background: #fbab7e;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  right: 50px;
}

.button.modifica {
  background-color: #f8c56e;
  color: #3b3232;
  text-decoration: none;
}
