<div class="container-form">
  <input type="text" placeholder="Inserisci il tuo task" [(ngModel)]="todo.title" name="title" required class="input">
  <button class="btn " (click)="mostra()"><app-plus></app-plus></button>
</div>



<div *ngIf="!todos.length" >
  <p class="loading"> La pagina sta caricando...</p>
</div>

<div *ngIf="todos.length" >
  <h2 class="page-title"> INSERISCI IL TUO TASK</h2>
</div>
<div *ngFor="let t of todos" class="container-todo">
  <div (click)="toggleComplete(t)" class="container-button-title">
    <p class="todo">{{ t.title }}</p>
    <div class="container-button">
      <a class="button blue">Completato</a>
      <a [routerLink]="'/modifica/' + t.id" class="button modifica">Modifica</a>
    </div>
  </div>
</div>

