<div *ngIf="dataLoaded"  class="container-loading">
 <p class="loading">Stai per essere reindirizzato al tuo task</p>
</div>


<div *ngIf="!dataLoaded" class="container-form column">
  <div class="container-mofica-button">
    <input type="text" placeholder="{{ todo.title }}" [(ngModel)]="todo.title" name="title" required class="input">
    <button class="btn modifica " (click)="modifica()">Modifica</button>
  </div>
  <p class="descrizione "> Stai modificando: <span class="title">"{{todo.title}}"</span></p>
</div>


