
:root{
    --roboto : 'Roboto', sans-serif;
    --spectral:'Spectral', serif;
    --giallo: #ffc017;
    --nero: color: #191919;
    --verde:  #1a8917;
}


/* header  */

#header{
    background-color: var(--giallo);
}


/* nav-bar section  */

#nav-bar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 999;
background-color: var(--giallo);
}

.logo{
    padding: 2.3rem 0 2.3rem 15rem;
}

.container-link-nav{
    display: flex;
    padding: 2.3rem 15rem 2.3rem 0;
}
.link-nav{
    display: flex;
    column-gap: 22px;
    color: black;
}
.link-nav li{
list-style-type: none;
}
.link-nav a{
    text-decoration: none;
    color: var(--nero);
    font-family: var(--roboto);
}
#get-started{
    color: white;
    background-color: black;
    padding: 1rem 1.6rem;
    border-radius: 25px;
    font-family: var(--roboto);
    font-weight: bold;
}

/* hero secrtion  */

#hero {
    display: flex;
    border-bottom: 1px solid black;
}

.left-hero{
    padding: 5rem 0rem 9rem 15rem;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
   
}
.h2-left-hero{
    font-size: 8.5rem;
    font-weight: 400;
}
.p-left-hero{
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--roboto);
}
.button-left-hero{
    width: 325px;
    height: 65px;
    background-color: black;
    color: white;
    font-size: 1.7rem;
    border-radius: 4rem;
}
.button-left-hero:hover{
    cursor: pointer;
}

.right-hero{
    position: relative;
}

.m-right-hero{
    position: absolute;
right: -50rem;
overflow: visible;

}


  /* animazione delle M */
.animation{
    animation: fadeIn 2s infinite; 
    transition: all 1s;
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/*  MAIN */


#main{
    padding: 4rem 9rem ;
    border-bottom: 1px solid #80808042;
}
.title-main{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.title-main p{
    font-size: 20px;
    font-family: var(--roboto);
}
.flex-date{
    display: flex;
    column-gap: 15px;
}



.flex-article{
    display: flex;
    margin-top: 0.6rem;
    flex-wrap: wrap;
    row-gap: 65px;
}
.flex-artciel:hover{
cursor: pointer;
}
.articoli{
    display: flex;
    column-gap: 25px;
    max-width: calc(100% / 3);
}
.left-number p{
    font-size: 3rem;
    font-family: var(--roboto);
    color: #f2f2f2;
    font-weight: bold;
}

.right-content{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    font-family: 'Roboto';
    position: relative;

}
.name-photo{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.photo-section{
    border-radius: 100%;
    width: 35px;
}
.name-photo p{
   font-family: var(--roboto);
   font-weight: bold;
    font-size: 1.1rem;
}
.article-name{
    font-weight: bold;
    font-size: 1.4rem;
}

.date{
    display: flex;
    column-gap: 0.3rem;
    font-size: 1rem;
    align-items: center;
    position: relative
}
/* articoli generali */


.container-articles-aside-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    column-gap: 13rem;
    padding: 0 9rem;
}
.container-articoli{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 55%;
}
#general-article{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.article{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.title-article{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.title-bold{
    font-size: 1.7rem;
    font-weight: bold;
}
.paragraph{
    font-size: 1.4rem;
    color: #6b6b6b;
}

.date a{
    text-decoration: none;
    color: #6b6b6b;
    background: #f2f2f2;
    padding: 11px;
    border-radius: 20px
}
.bookmark{
    position: absolute;
    right: 0;
}
.img-article img {
    width: 261px;
    height: 242px;
}

/* aside */
.container-aside-footer{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    max-width: 35%;
}
#aside {
    position: sticky;
    top: 150px; 
    z-index: 100; 
    background-color: #fff; 
  }

  

#aside h4{
    font-size: 1.4rem;
    font-family: var(--roboto);
    margin-bottom: 1rem;
}

.aside-links{
    margin: 3.5rem 0 2rem 0 ;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}
.link-aside{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-family: var(--roboto);
    background-color: white;
    padding: 1rem;
    text-align: center;
    height: 20px;
    border: 1px solid grey;      
}
.green-link{
    text-decoration: none;
    color: var(--verde);
    font-weight: bold;
    font-size: 1.3rem;
}

/* footer */
#footer{
    border-top: 1px solid grey;
    padding-top: 3rem;
    display: flex;
    border-top: 1px solid grey;
    padding-top: 3rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
    column-gap: 40px;
    row-gap: 24px;
    font-family: 'Roboto';
    position: sticky;
    top: 470px; 
    z-index: 99; 
    background-color: #fff; 
      }
      


#footer a{
    text-decoration: none;
    color: #6b6b6b;
}

.profilopersona{
    border: 1px solid;
    width: 200px;
    height: 150px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 10px black;
    z-index: 998;
    background-color: white;
}
.name-photo-pop{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.paragraph-pop{
    font-size: 0.7rem;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.profilopersona p{
    padding: 15px 0;
}
.profilopersona a {
    color: green;
    text-decoration: none;
    font-family: 'Roboto';
}
.hidden{
display: none;
}
@keyframes fadein {
    0% { opacity: 1;}
    50% {
        opacity: 0.5
    }
    100%{
        opacity: 0;
    }
}