@import 'reset';
@import 'colors';
@import 'animations';
@import 'button';
@import 'fonts';
@import 'genericMixin';
@import 'spacing';


.container{
    background-color: $coloreBgHero;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
}

img{
    width: 200px;
    
}
.flex {
    background-color: $coloreBgHero;
    @include fadeinComparsa(5s, -50, 30, 0, 'animation');
   
    @include grid(4);
  }