@import '../node_modules/bootstrap/scss/functions';
@import 'variables';
@import 'colors';

.body-bg{
    background-color: map-get($bg-color, body );
}
.bg-container{
    background-color: map-get($bg-color, container);
}
// nav-bar
.navbar-toggler{
    background-color: white;
    border: none;
    &:focus {
        text-decoration: none;
        outline: 0;
       
      }
    }
.navbar-nav .nav-link{
    color: white;
}

// select
#Genres-select{
    height: 36px;
}
// icone
.icona-fix{
    padding-top: 6px;
    border: 1px solid 515151;
}
.icone-tab{
    width: 100px;
}

// grandezze
#avatar{
    width: 30px;
}
.img-container{
    width: 150px;
}

