<form class="container" [formGroup]="form">

  <input type="text" class="form-control my-3"
  formControlName="nome" placeholder="inserisci il tuo nome">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
    Inserisci il tuo nome
  </div>

  <input type="text" class="form-control my-3"
  formControlName="cognome" placeholder="inserisci il tuo cognome">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('cognome')">
    Inserisci il tuo cognome
  </div>

  <input type="password" class="form-control my-3"
  formControlName="password" placeholder="crea una password">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('password')">
    Inserisci una password
  </div>

  <input type="password " class="form-control my-3"
  formControlName="confermaPassword" placeholder="conferma password">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!isSame(form.get('password')?.value, form.get('confermaPassword')?.value)">
    La password non coincide
  </div>

  <select name="genere" id="genere" class="my-3" >
    <option >genere</option>
    <option value="Uomo">Uomo</option>
    <option value="Donna">Donna</option>
    <option value="Preferisco non dirlo">Preferisco non dirlo </option>
  </select>


  <input type="text" class="form-control my-3"
         formControlName="immagineProfilo" placeholder="inserisci l'url della tua immagine">

  <div class="alert alert-danger d-flex align-items-center" role="alert"
       *ngIf="isBoth('immagineProfilo') && getCustomMessage('immagineProfilo')">
    {{getCustomMessage('immagineProfilo')}}
  </div>




  <input type="textarea" class="form-control my-3"
  formControlName="biografia" placeholder="Scrivi la tua biografia (opzionale)">


  <input type="text" class="form-control my-3"
  formControlName="username" placeholder="inserisci il tuo username">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('username')">
    Inserisci il tuo username
  </div>




  <button [disabled]="form.invalid"  class="btn btn-success my-3"  (click)="registrati()"> ISCRIVITI </button>

  </form>
