<nav class="navbar navbar-expand-lg nav-sfondo">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/welcome"><img src="../../../../assets/mockup/logo (2).png" alt="logo" class="logo"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " [ngClass]="{'show': isNavbarOpen}" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isIn" >
          <a class="nav-link active" ><i class="bi bi-house-door-fill"></i>Home</a>
        </li>
        <li class="nav-item" *ngIf="isIn" >
          <a class="nav-link active" ><i class="bi bi-box-arrow-in-right"></i>Preferiti</a>
        </li>
        <li class="nav-item"  *ngIf="!isIn">
          <a class="nav-link" routerLink="/home">Torna alla pagina iniziale <i class="bi bi-house-door-fill"></i></a>
        </li>

        <li class="nav-item"  *ngIf="!isIn">
          <a class="nav-link" routerLink="/auth/login">Vai al Login <i class="bi bi-box-arrow-in-right"></i></a>
        </li>

      </ul>
      <form class="d-flex" role="search" *ngIf="isIn">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
