<form [formGroup]="loginForm" (ngSubmit)="submit()" >
  <div class="container">
    <h3 class="text-center text mt-4">EFFETTUA IL LOGIN</h3>

    <div class="col-auto my-2">
      <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="this.loginUser.email">
      <div *ngIf="isChecked('email')">
        <div class="alert  my-1" role="alert">
          Scrivi l'email nel formato corretto
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <input type="password" class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="this.loginUser.password">
      <div *ngIf="isChecked('password')">
        <div class="alert  my-1" role="alert">
         La password deve essere almeno di 4 caratteri
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <button type="submit" class="btn  mb-3" [disabled]="loginForm.invalid">Entra </button>
      <p class="text-start text-white ">Non sei registrato?<a routerLink="/auth/register" class="ps-1">Registrati qui</a></p>
    </div>
  </div>
</form>
