
<div class="container">
  <h3 class="text-center ">REGISTRATI </h3>
  <form class="g-3 ">
    <div class="col-auto  my-2">
      <input type="email" class="form-control"  placeholder="Email">  </div>
    <div class="col-auto my-2">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="col-auto my-2">
      <input type="nome" class="form-control" placeholder="nome">
    </div>
    <div class="col-auto my-2">
      <input type="username" class="form-control" placeholder="username">
    </div>
    <div class="col-auto my-3 text-center">
      <button type="submit" class="btn btn-success mb-3">Confirm identity</button>
    </div>
  </form>
</div>
