<app-nav-auth></app-nav-auth>
<div class="container">
  <h3 class="text-center">REGISTRATI</h3>
  <form class="g-3" (ngSubmit)="registrati()" [formGroup]="registrationForm">
    <div class="col-auto my-2">
      <input type="email" class="form-control" placeholder="Email" formControlName="email" [(ngModel)]="registerUser.email">
      <div *ngIf="isChecked('email')">
        <div class="alert alert-danger my-1" role="alert">
          Inserisci un'email valida
        </div>
      </div>
    </div>
    <div class="col-auto my-2">
      <input type="password" class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="registerUser.password">
      <div *ngIf="isChecked('password')">
        <div class="alert alert-danger my-1" role="alert">
          La password deve essere di almeno 4 caratteri
        </div>
      </div>
    </div>
    <div class="col-auto my-2">
      <input type="text" class="form-control" placeholder="Nome" formControlName="nome" [(ngModel)]="registerUser.nome">
      <div *ngIf="isChecked('nome')">
        <div class="alert alert-danger my-1" role="alert">
          Inserisci un nome valido
        </div>
      </div>
    </div>
    <div class="col-auto my-2">
      <input type="text" class="form-control" placeholder="Username" formControlName="username" [(ngModel)]="registerUser.username">
      <div *ngIf="isChecked('username')">
        <div class="alert alert-danger my-1" role="alert">
          Inserisci uno username valido
        </div>
      </div>
    </div>
    <div class="col-auto my-3 text-center">
      <button type="submit" class="btn btn-success mb-3" [disabled]="registrationForm.invalid">Registrati</button>
    </div>
  </form>
</div>
