
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-size: 1rem;
    background-image: url(../img/sfondo.png);
}
p{
    font-size: 1.4rem;
}
#header{
    height: 20rem;
    line-height: 1.2rem;
    background-color: #307ca9;
    margin: 2em;
    background: linear-gradient(225deg, rgb(0,160,198), rgba(3,109,134,1));
}
#logo-epicode{
    width: 70%;
    text-align: center;
    display: block;
    padding: 1.2em 1.2em 1.2em 4em;
}
#header h2{
    color: white;
    font-family: poppins;
    text-align: center;
    margin-top: 1em;
}
#nav-bar{
    margin: 1.5em;
    text-align: center;
    font-size: 1.3em;
}
#nav-bar li{
    margin: 0.4rem;
}
#nav-bar a{
    color: white;
    text-decoration: none;
}
#sfondo-bianco{
    background-color: white;
    margin: 2em;
    padding: 1em;
}
#main h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.7em;
}
i{
    color: gray;
}
.icone{
    font-size: 1.5rem;
    color: #808080ad;
    margin-bottom: 1.2rem;
}
.paragrafo-span{
    font-size: 1.4rem;
}
iframe{
    width: 100%;
}
#footer{
    background: linear-gradient(225deg, rgb(0,160,198), rgba(3,109,134,1));
    height: 9rem;
    margin-bottom: 0.2rem;
}
#footer p{
    font-family: Poppins;
    padding: 0.6rem 0.3rem;
    text-align: center;
    font-size: 1.3rem;
}

/* IMPOSTAZIONI GENERALI */
/* font-family: 'Poppins', sans-serif; */
/* rgb(0,160,198) chiaro */
/* rgba(3,109,134,1) scuro*/
/* body{
    font-size: 20px;
    background-image: url(../img/sfondo.png);*\

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
