
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
}
p{
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 20rem;
    line-height: 1.2rem;
    background-color: #307ca9;
    margin: 2em;
    background: linear-gradient(225deg, rgb(0,160,198), rgba(3,109,134,1));
}
#logo-epicode{
    width: 20rem;
    text-align: center;
    display: block;
    padding: 1.2em 1.2em 1.2em 4em;
}
#header h2{
    color: white;
   
    text-align: center;
    margin-top: 1em;
}
#nav-bar{
    margin: 1.5em;
    text-align: center;
    padding-right: 1.8rem;
    font-size: 1.3em;
}

#nav-bar li{
    margin: 0.4rem;
    list-style-type: none;
    padding: 0;
}
#nav-bar a{
    color: white;
    text-decoration: none;
}
#sfondo-bianco{
    background-color: white;
    margin: 2em;
    padding: 1em;
    box-shadow: 3px 3px 10px;
}

#main{
    margin-bottom: 3rem;

}
#main h1{
    font-size: 2.2em;
    line-height: 3rem;
    font-weight: bold;
    margin-bottom: 0.7em;
}
.lista-non-ordinata{
    font-size: 1.2em;
    line-height: 1.5;
}
.lista-non-ordinata span {
    color: black;
    background-color: #d9cfcf;
    border: 1px solid black;
    border-radius: 4px;
}
ul{
    list-style-type: disc;
}
ol{
    list-style-type: decimal
}
ul, ol:not(#nav-bar) {
    padding-left: 2.5rem;
    line-height: 1.4rem;
    margin-bottom: 1.3rem;
}
i{
    color: gray;
}
.icone{
    font-size: 1.5rem;
    color: #808080ad;
    margin-bottom: 1.2rem;
}
.paragrafo-span{
    font-size: 1.4rem;
}
span{
    color: #ff2751;
}

#table{
   
    text-align: center;
    padding-left: 2rem;
    border-bottom: 3px solid #037b98;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;

}
#table caption{
    font-weight: bold;
    font-style: italic;
}
#table thead{
    border: 1px solid;
    background-color: #037b98;
    color: white;
    height: 3.2rem;
}
.paragrafo-youtube p a {color: rgb(0,160,198);

}
iframe{
    width: 100%;
    border-radius: 1.8rem;
    height: 15rem;
}
.insert-email{
    background-color: #d9cfcf;
    box-shadow: 1px 1px 5px;
    height: 13.5rem;
    margin-bottom: 2.5rem;
}
.insert-email h3{
    padding: 1rem 2rem 2rem 8rem;
    font-size: 2rem;
}
.insert-email p {
    padding: 0 1.2rem;
}
.form-button{

    padding: 0 3rem;
    height: 1.4rem;
}
.email-input{
    height: 100%;
    box-shadow: 1px 1px 3px gray;
    border: 1px solid gray;
    padding-left: 0.4em;
}
 button{
    height: 100%;
    background-color: #1d1d99;
    color: white;
    border: 0;
 }
.articoli-correlati h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.article{
    background-color: #d9cfcf;
    height: 7rem;
    box-shadow: 1px 1px 3px gray;
    margin-bottom: 1.6rem;
}
.article p{
    padding-top: 1.3rem;
    font-size: 1.2rem;
    margin-bottom:0;
}
.article a {
    color:rgb(0,160,198) ;
    padding: 1.2rem;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom:0;
}
#icona-1{
    padding: 0 1.4rem;
}
.icona-2{
    text-align: right;
}
#footer{
    background: linear-gradient(225deg, rgb(0,160,198), rgba(3,109,134,1));
    height: 9rem;
    margin-bottom: 0.2rem;
    color: white;
}
#footer p{
    font-family: Poppins;
    padding: 0.6rem 0.3rem;
    text-align: center;
    font-size: 1.3rem;
}
margin: 0;
    padding: 0 1.4rem;

/* IMPOSTAZIONI GENERALI */
/* font-family: 'Poppins', sans-serif; */
/* rgb(0,160,198) chiaro */
/* rgba(3,109,134,1) scuro*/
/* body{
    font-size: 20px;
    background-image: url(../img/sfondo.png);*\

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
