.nav-sfondo{
  background-color: #f9b552b3;
}
.suggerimenti {
  position: absolute;
  top: 64px;
  z-index: 2;
  background-color: #b78b4a;
  width: 100%;
  box-sizing: border-box;
}
.nav-item:hover{
  color: rgb(0, 0, 0);
}

.card{
  background-color: #f9b552b3;
}
.btn-add{
  background: rgb(0 0 0 / 55%);
  padding: 8px;
  border-radius: 10px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sfondo{
  min-height: 100vh;
  height: 100%;

}

.suggerimento {
  padding: 5px;
  cursor: pointer;
}

.suggerimento:hover {
text-decoration: underline;
}
.city-card{
  z-index: 2;
}
