.nav-sfondo{
  background-color: #f9b552b3;
}
.suggerimenti {
  position: absolute;
  top: 83px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
}
.nav-item:hover{
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggerimento {
  padding: 5px;
  cursor: pointer;
}

.suggerimento:hover {
  background-color: #f2f2f2;
}
.city-card{
  z-index: 2;
}
