@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
 
#heading{
    text-align: center;
}
#heading img {
    width: 12rem;
    margin: 1rem auto 0.4rem;
}
#nav-bar{
    background-color: #ffeb3b57;
    border-top: 1px solid yellow;
    height: 1.6em;
}
#nav-bar p{
    font-size: 0.8rem;
    margin: margin;
    margin: 0.6em;
    text-align: center;
    color: #107777;
}
#nav-bar p a {
    color: #107777;
    font-weight: bold;
    text-decoration: none;
}
#container{
    max-width: 800px;
    margin: 0 auto ;
    margin-top: 3.7rem;
}
.testo-immagine-main{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.testo-immagine-main h1{
    font-size: 2.5rem;
}
.contenuto-immagine{
    width: 100%;
    margin: auto;
}
.contenuto-immagine figcaption{
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 1em;
}
.video{
    box-shadow: 3px 3px 10px gray;
    width: 100%;
    border-radius: 10px;
}
.video:hover{
    box-shadow: none;
    border: 2px solid orange;
}

.contenuto-immagine p{
    margin: 0.5em 0em 1em;
    color: #b2abab;
    font-size: 0.7em;
}
.featured{
    border-left: 1px solid yellow;
    padding-left: 0.8em;
}
.featured h5{
    margin-bottom: 0;
    color: orange;
    font-family: roboto;
}
.featured p{
    margin-top: 0;
    margin-bottom: 5rem;
    color: #107777;
    font-size: 0.83em;
}
.featured a {
    text-decoration: underline;
    color: #107777;
}
.ingredients-topping h3 {
    border-bottom: 0.1em ridge #ccbaba2b;
    padding-bottom: 0.7em;
}
.ingredients-topping p {
    font-weight: bold;
    margin-top: 2rem;
}
.method h3{
    margin-top: 2rem;
    border-bottom: 0.1em ridge #ccbaba2b;
    padding-bottom: 0.7em;
}
.lista-method li{
    font-weight: bold;
}
.lista-method p{
    margin-bottom: 2rem;
}
#footer a{
   color: #009688;
}