<form >

<input type="text" class="form-control"
formControlName="nome" placeholder="inserisci il tuo nome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci il tuo nome
</div>

<input type="text" class="form-control"
formControlName="cognome" placeholder="inserisci il tuo cognome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('cognome')">
  Inserisci il tuo cognome
</div>

<input type="text" class="form-control"
formControlName="nome" placeholder="crea una password">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci una passowrd
</div>

<input type="text" class="form-control"
formControlName="nome" placeholder="conferma password">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  La password non coincide
</div>

<select name="genere" id="genere">
  <option value="Uomo">Uomo</option>
  <option value="Donna">Donna</option>
  <option value="Preferisco non dirlo">Preferisco non dirlo </option>

</select>

<input type="text" class="form-control"
formControlName="nome" placeholder="inserisci il tuo nome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci il tuo username
</div>

<input type="text" class="form-control"
formControlName="nome" placeholder="inserisci il tuo nome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci il tuo username
</div>

<input type="text" class="form-control"
formControlName="nome" placeholder="inserisci il tuo nome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci il tuo username
</div>

<input type="text" class="form-control"
formControlName="nome" placeholder="inserisci il tuo nome">
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="isBoth('nome')">
  Inserisci il tuo username
</div>




</form>
