
.btn-add{
  background: rgb(0 0 0 / 55%);
  padding: 8px;
  border-radius: 10px;
}

.card{
  background-color: #f9b552b3;
}
.bottom{

  border-bottom: black;
}
.btn-add.back{
  color: white;
  text-align: center;
  text-decoration: none;
}
