<a routerLink="/welcome">torna indietro</a>
<div class="card text-bg-dark city-card" *ngFor="let m of meteo">

  <h5 class="card-title">{{ m.name }}</h5>
  <p class="card-text">{{ m.weather[0].description }}</p>
  <p class="card-text"><small>Temperatura: {{ m.main.temp }}°C</small></p>
  <p>Scopri di più su {{m.name}} <a [routerLink]="'/city/' + m.id" ><i class="bi bi-eye-fill"></i></a></p>
  <p (click)="delete(m.id, m.name)">Rimuovi dai preferiti <a routerLink="/preferiti" ><i class="bi bi-x-circle-fill text-danger"></i></a></p>


</div>


